<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AppDBContext" connectionString="Data Source=DESKTOP-TBNJHUN\SQLEXPRESS;Initial Catalog=LostAndFoundDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="Server.Registration.Registration">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/IRegistration" />
          </baseAddresses>
        </host>
      </service>
      <service name="Server.SignIn.SignIn">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/ISignIn" />
          </baseAddresses>
        </host>
      </service>
      <service name="Server.SignIn.LoadPersonInfo">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/ILoadPersonInfo" />
          </baseAddresses>
        </host>
      </service>     
        
      <service name="Server.ItemServices.AddItem">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/IAddItem" />
          </baseAddresses>
        </host>
      </service>
      <service name="Server.ItemServices.DeleteItem">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/IDeleteItem" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="Server.ItemServices.RetrieveItems">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/IRetrieveItems" />
          </baseAddresses>
        </host>
      </service>        



      <service name="Server.Notifications.SubscriptionService" behaviorConfiguration="mexBehavior">
        <endpoint address="SubscriptionService"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  contract="Common.Services.ISubscription"/>
        <host>
          <baseAddresses>
            <!--add baseAddress="http://localhost:8080"/-->
            <add baseAddress="net.tcp://localhost:4000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <!--serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>